html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  z-index: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #363636;
  font: normal normal 0/0 Arial, sans-serif;
  position: relative;
}

h1, h2, h3, h4, h5, h6, p, a, b, strong, em, i {
  line-height: 160%;
}

h1, h3, h5 {
  color: #363636;
  margin-bottom: 24px;
}

h2, h4, h6 {
  color: #FFFFFF;
  font-weight: bold;
  margin-bottom: 24px;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 24px;
}

p {
  margin-bottom: 24px;
}

h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child, p:last-child {
  margin-bottom: 0;
}

p, a, b, strong, em, i {
  font-size: 16px;
  color: #363636;
}

b, strong {
  font-weight: bold;
}

i, em {
  font-style: italic;
}

a {
  color: #3A539B;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
a:hover {
  text-decoration: underline;
  color: #363636;
}

a, button {
  cursor: pointer;
  word-wrap: break-word;
  outline: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

nav {
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 58px;
  height: 100%;
  padding: 16px 58px;
  max-width: 348px;
  background-color: #89C4F4;
  position: fixed;
}
nav a {
  color: #363636;
  padding: 12px 24px;
  font-size: 24px;
  text-decoration: none;
  margin-bottom: 24px;
  max-width: 100%;
  border: 2px solid #2C3E50;
  display: block;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
nav a:hover {
  background-color: rgba(44, 62, 80, 0.6);
  text-decoration: none;
}
nav a:active, nav a.active {
  color: #3A539B;
  border-color: #3A539B;
}
nav a:last-of-type {
  margin-bottom: 0;
}

main {
  z-index: 0;
  width: 100%;
  padding: 58px;
  margin: 58px 0;
  background-color: #CCCCCC;
}
main .option {
  display: block;
  line-height: 320%;
}

:root form paper-button {
  color: #3A539B;
  padding: 16px;
  margin-top: 32px;
  border: 2px solid #3A539B;
  font-size: 16px;
  background-color: transparent;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
:root form paper-button:hover {
  background-color: rgba(44, 62, 80, 0.6);
}
:root form paper-button:before, :root form paper-button:after {
  display: none;
}
:root paper-menu {
  background: #89C4F4;
}
:root iron-pages {
  margin-left: 406px;
}
:root paper-toast {
  background: rgba(44, 62, 80, 0.6);
  color: #FFFFFF;
}
:root paper-toast > span {
  display: block;
  font-size: 24px;
}
:root paper-toast p {
  text-align: center;
}
:root paper-toast p span {
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  padding: 4px 16px;
  margin-top: 24px;
  cursor: pointer;
  display: inline-block;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
:root agenda-list h5 {
  line-height: 100%;
  text-align: center;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
:root agenda-list h5 span {
  line-height: 100%;
}
:root agenda-list h5 iron-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
:root agenda-list h5 iron-icon:first-of-type {
  float: left;
}
:root agenda-list h5 iron-icon:last-of-type {
  float: right;
}
:root agenda-list h5 iron-icon:hover {
  background-color: #bfbfbf;
}
:root agenda-list .item {
  margin-bottom: 4px;
  line-height: 160%;
  padding: 16px 24px;
  background-color: #AAAAAA;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
}
:root agenda-list .item:hover {
  background-color: #bfbfbf;
}
:root agenda-list .item strong {
  font-size: 24px;
}
:root agenda-list .item span, :root agenda-list .item em {
  display: block;
  font-size: 16px;
}
:root agenda-list .item .subject {
  width: 20%;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  padding: 24px 16px;
  background-color: #CCCCCC;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
:root agenda-list .item .information {
  width: 60%;
  padding: 0 24px;
  vertical-align: middle;
  display: inline-block;
}
:root agenda-list .item .interaction {
  width: 20%;
  text-align: right;
  vertical-align: middle;
  display: inline-block;
}
:root agenda-list .item .interaction iron-icon {
  cursor: pointer;
  width: 42px;
  height: 42px;
  padding: 6px;
  background-color: #CCCCCC;
  margin-left: 8px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
}
:root agenda-list .item .interaction iron-icon:hover {
  background-color: #d9d9d9;
}
:root user-list .item {
  margin-bottom: 4px;
  line-height: 160%;
  padding: 16px 24px;
  background-color: #AAAAAA;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
}
:root user-list .item:hover {
  background-color: #bfbfbf;
}
:root user-list .item strong {
  width: 100%;
  font-size: 24px;
  vertical-align: middle;
  display: inline-block;
}
:root user-list .item paper-button {
  width: 32px;
  height: 32px;
  margin-left: -32px;
  vertical-align: middle;
  display: inline-block;
}
:root user-list .item paper-button.present iron-icon.true {
  display: inline-block;
}
:root user-list .item paper-button.present iron-icon.false {
  display: none;
}
:root user-list .item paper-button iron-icon {
  width: 32px;
  height: 32px;
}
:root user-list .item paper-button iron-icon.true {
  display: none;
}
:root user-stats .item {
  margin-bottom: 4px;
  line-height: 160%;
  padding: 16px 24px;
  background-color: #AAAAAA;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
}
:root user-stats .item:hover {
  background-color: #bfbfbf;
}
:root user-stats .item p {
  width: 100%;
  margin-bottom: 0;
  vertical-align: middle;
  display: inline-block;
}
:root user-stats .item strong {
  width: 100%;
  font-size: 24px;
  vertical-align: middle;
  display: inline-block;
}
:root user-stats .item span {
  color: #3A539B;
  width: 58px;
  font-size: 32px;
  font-weight: bold;
  vertical-align: middle;
  margin-left: -58px;
  display: inline-block;
}
:root user-stats .item.heading {
  font-weight: bold;
}
:root user-stats .item.heading, :root user-stats .item.heading:hover {
  background-color: rgba(44, 62, 80, 0.6);
}
:root user-stats .item.heading span {
  color: #363636;
  font-size: 16px;
}
