// Primary Colors
$primary: #3A539B;
$primary-fill: #89C4F4;
$primary-deco: #2C3E50;
$primary-tint: rgba(44, 62, 80, 0.5);

// Secondary Colors
$secondary: #FFFFFF;
$secondary-fill: #CCCCCC;
$secondary-deco: #AAAAAA;

// Other
$text: #363636;

// Font's
$line-height: 160%;
$arial: normal normal 16px/$line-height Arial, Helvetica, sans-serif;

// Sizes
$smallest: 16px;
$small: 24px;
$normal: 32px;
$big: 42px;
$biggest: 58px;

// Radius
$small-radius: 4px;
$normal-radius: 6px;
$big-radius: 8px;