@import "compass/reset";
@import "compass";
@import "variables";

// Generic element styling
* {
  @include box-sizing(border-box);
}

html, body {
  z-index: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: $text;
  font: normal normal 0/0 Arial, sans-serif;
  position: relative;
}

h1, h2, h3, h4, h5, h6, p, a, b, strong, em, i {
  line-height: $line-height;
}
h1, h3, h5 {
  color: $text;
  margin-bottom: $small;
}
h2, h4, h6 {
  color: $secondary;
  font-weight: bold;
  margin-bottom: $small;
}
h1 {
  font-size: $big;
}
h2 {
  font-size: $big;
}
h3 {
  font-size: $normal;
}
h4 {
  font-size: $normal;
}
h5 {
  font-size: $small;
}
h6 {
  font-size: $small;
}
p {
  margin-bottom: $small;
}

h1, h2, h3, h4, h5, h6, p {
  &:last-child {
    margin-bottom: 0;
  }
}

p, a, b, strong, em, i {
  font-size: $smallest;
  color: $text;
}
b, strong {
  font-weight: bold;
}
i, em {
  font-style: italic;
}
a {
  color: $primary;
  @include user-select(none);
  &:hover {
    text-decoration: underline;
    color: $text;
  }
}
a, button {
  cursor: pointer;
  word-wrap: break-word;
  outline: none;
  @include user-select(none);
}

// Specified element styling
nav {
  z-index: 1;
  top: 0;
  bottom: 0;
  left: $biggest;
  height: 100%;
  padding: $smallest $biggest;
  max-width: $biggest*6;
  background-color: $primary-fill;
  position: fixed;

  a {
    color: $text;
    padding: ($small/2) $small;
    font-size: $small;
    text-decoration: none;
    margin-bottom: $small;
    max-width: 100%;
    border: 2px solid $primary-deco;
    display: block;
    @include border-radius($small-radius);
    &:hover {
      background-color: $primary-tint;
      text-decoration: none;
    }
    &:active, &.active {
      color: $primary;
      border-color: $primary;
    }
    &:last-of-type {
      margin-bottom:0;
    }
  }
}
main {
  z-index: 0;
  width: 100%;
  padding: $biggest;
  margin: $biggest 0;
  background-color: $secondary-fill;
  .option {
    display: block;
    line-height: $line-height*2;
  }
}

// Predefined element styling
:root {
  form paper-button {
    color: $primary;
    padding: $smallest;
    margin-top: $normal;
    border: 2px solid $primary;
    font-size: $smallest;
    background-color: transparent;
    @include border-radius($small-radius);
    &:hover {
      background-color: $primary-tint;
    }
    &:before, &:after {
      display: none;
    }
  }
  paper-menu {
    background: $primary-fill;
  }
  iron-pages {
    margin-left: $biggest*7;
  }
  paper-toast {
    background: $primary-tint;
    color: $secondary;
    > span {
      display: block;
      font-size: $small;
    }
    p {
      text-align: center;
      span {
        color: $secondary;
        border: 2px solid $secondary;
        padding: ($smallest/4) $smallest;
        margin-top: $small;
        cursor: pointer;
        display: inline-block;
        @include border-radius($normal-radius);
      }
    }
  }
  agenda-list {
    h5 {
      line-height: 100%;
      text-align: center;
      @include user-select(none);
      span {
        line-height: 100%;
      }
      iron-icon {
        width: $small;
        height: $small;
        cursor: pointer;
        @include border-radius(100%);
        &:first-of-type {
          float: left;
        }
        &:last-of-type {
          float: right;
        }
        &:hover {
          background-color: darken($secondary-fill, 5);
        }
      }
    }
    .item {
      margin-bottom: $smallest/4;
      line-height: $line-height;
      padding: $smallest $small;
      background-color: $secondary-deco;
      @include transition(background 0.4s);
      &:hover {
        background-color: darken($secondary-fill, 5);
      }
      strong {
        font-size: $small;
      }
      span, em {
        display: block;
        font-size: $smallest;
      }
      .subject {
        width: 20%;
        text-align: center;
        vertical-align: middle;
        display: inline-block;
        padding: $small $smallest;
        background-color: $secondary-fill;
        @include border-radius($small-radius);
      }
      .information {
        width: 60%;
        padding: 0 $small;
        vertical-align: middle;
        display: inline-block;
      }
      .interaction {
        width: 20%;
        text-align: right;
        vertical-align: middle;
        display: inline-block;
        iron-icon {
          cursor: pointer;
          width: $big;
          height: $big;
          padding: $small/4;
          background-color: $secondary-fill;
          margin-left: $smallest/2;
          @include border-radius(100%);
          @include transition(background 0.4s);
          &:hover {
            background-color: lighten($secondary-fill, 5);
          }
        }
      }
    }
  }
  user-list {
    .item {
      margin-bottom: $smallest/4;
      line-height: $line-height;
      padding: $smallest $small;
      background-color: $secondary-deco;
      @include transition(background 0.4s);
      &:hover {
        background-color: darken($secondary-fill, 5);
      }
      strong {
        width: 100%;
        font-size: $small;
        vertical-align: middle;
        display: inline-block;
      }
      paper-button {
        width: $normal;
        height: $normal;
        margin-left: -($normal);
        vertical-align: middle;
        display: inline-block;
        &.present iron-icon.true {
          display: inline-block;
        }
        &.present iron-icon.false {
          display: none;
        }
        iron-icon {
          width: $normal;
          height: $normal;
          &.true {
            display: none;
          }
        }
      }
    }
  }
  user-stats {
    .item {
      margin-bottom: $smallest/4;
      line-height: $line-height;
      padding: $smallest $small;
      background-color: $secondary-deco;
      @include transition(background 0.4s);
      &:hover {
        background-color: darken($secondary-fill, 5);
      }
      p {
        width: 100%;
        margin-bottom: 0;
        vertical-align: middle;
        display: inline-block;
      }
      strong {
        width: 100%;
        font-size: $small;
        vertical-align: middle;
        display: inline-block;
      }
      span {
        color: $primary;
        width: $biggest;
        font-size: $normal;
        font-weight: bold;
        vertical-align: middle;
        margin-left: -($biggest);
        display: inline-block;
      }
      &.heading {
        font-weight: bold;
        &, &:hover {
          background-color: $primary-tint;
        }
        span {
          color: $text;
          font-size: $smallest;
        }
      }
    }
  }
}